---
layout: default
title: Home
keywords: tlb, test-load-balancer
description: Home page of 'Test Load Balancer(TLB)' project(s).
---
<div>
  <h3>What is Test Load Balancer (TLB)?</h3>
  <div class="scope section">
    Test Load Balancer(TLB) is a tool that can automatically partition tests among multiple sets, each one of which can run in parallel like on different physical/virtual machine at the same time. This can significantly improve the speed of a test stage in a build pipeline, and significantly shorten the feedback loop for large or slow running test suites such as functional or UI tests.
    <p class="clob_end"/>
    In addition to balancing, it also allows you to do other interesting things like re-order your tests-subset, before it executes. For instance, run tests that failed in the last run, first.
  </div>
</div>
<hr/>
<div>
  <h3>How does TLB work?</h3>
  <div class="scope section">
    <p/>
    {% include components_of_tlb %}
    Balancer hooks-up with your build-framework and testing-framework to do the actual work, whereas Server is primarily a data-repository that balancer talks to. Data from previous run(s) is used by the balancer to partition/re-order the current run, and data from the current run is posted back so that it can be used for future runs.
    <p class="clob_end"/> 
    <image src="images/tlb-cycle.png" class="center-468"/>
  </div>
</div>
<hr/>
<div>
  <h3>Getting started with TLB</h3>
  <div class="scope section">
    You can visit {% include tlb_getting_started %} to start using TLB in 2 minutes on your project. It gives step by step instructions on how to setup TLB on your project.
    <p class="clob_end"/>
  </div>
</div>
<div>
  <h3>Can TLB be used for test suite written in a non-java/non-jvm language(Ruby, C#, Python etc..)?</h3>
  <div class="scope section">
    <p/>
    <strong>Yes</strong>. While TLB is written in Java, it was written from ground up to support both jvm and non-jvm based languages/runtimes. Balancer is capable of running as a standalone process, in alien-environment(as we call it) setup framework/language that tests are written in does not matter. {% include tlb_rb_link %} 
    for instance, runs on MRI(CRuby) and uses standalone balancer. However, since TLB-core is written in java, you will need to have java installed on the box running tests(so balancer process can be launched).
    <p class="clob_end"/>
    Infact, it feels like running balancer standalone is actually a better option in most cases, because it has the inherent advantage of process level isolation. 
  </div>
</div>
<hr/>
<div>
  <h3>What testing-tools/build-tools does TLB support?</h3>
  <div class="scope section">
    <div class="notice warning">
      This list is updated as upstream evolves. Please check version specific documentation to find out what a particular version supports.
    </div>
    <p/>
    <h5>TLB supports:</h5>
    {% include upstream_supported_frameworks %}
    <p class="clob_end"/>
    <div class="with_desc">
      <h5>Work in progress:</h5>
      <span class="heading_desc">TLB team is working on adding support for the following tool combinations:</span>
    </div>
    <table>
      <thead>
        <tr>
          <th>Testing Tool</th>
          <th>Build Tool(s)</th>
          <th>Programming Language(s) or Platform(s)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{% include rspec_1_link %} & {% include rspec_2_link %}</td>
          <td>{% include rake_link %}</td>
          <td>{% include jruby_link %}</td>
        </tr>
        <tr>
          <td>{% include testunit_link %}</td>
          <td>{% include rake_link %}</td>
          <td>{% include jruby_link %}</td>
        </tr>
        <tr>
          <td>{% include nunit_link %}</td>
          <td>{% include nant_link %}</td>
          <td>{% include dot_net_link %}</td>
        </tr>
      </tbody>
    </table>
    <p class="clob_end"/>
    <div class="with_desc">
      <h5>We plan to add support for:</h5>
      <span class="heading_desc">We have not yet started work on adding suppport for tools mentioned in this section.</span>
    </div>
    Cucumber(Ruby), MSTest(.Net), MSBuild(.Net), Maven(Java), unittest(Python), FiveAM(CommonLisp), cppunit(C++) etc.
    <p class="clob_end"/>
    And of course, anything else you can mail us patches for... :-)
  </div>
</div>
<hr/>
<div>
  <h3>How do I configure and use TLB on my project?</h3>
  <div class="scope section">
    {% include documentation_starting_up_link %} is usually a good place to start.
    <p class="clob_end"/>
    Please check the {% include documentation_link %} section for detailed documentation on TLB.
  </div>
</div>
