---
layout: default
title: Documentation
keywords: tlb, test-load-balancer, documentation, configuration, help
description: Documentation/Help/Starting-up page of 'Test Load Balancer(TLB)' project(s).
---

<hr/>
<div class="message notice">
  This documentation covers core concepts and all the configuration options of TLB. It also covers getting started with TLB in detail. If you have any feedback about the tool itself or documentation or if you find something not explained well enough, please report an issue (here: {% include issue_tracker_link %} ) and we will make sure its addressed.
</div>

<div class="warn notice">
  This documentation is kept up-to-date with the source/upstream. Which means, as features are added or changed, the regular documentation pages will be modified, even if the feature/change has not been released or tagged yet. Please refer to version specific documentation to ensure you see details of only whats shipped in the version you are using.
  If you find any discripancies, please report the same(here: {% include issue_tracker_link %} ).
</div>

<hr/>

<div>
  <h3>This version of TLB supports:</h3>
  <div class="scope section">
    {% include upstream_supported_frameworks %}
  </div>
</div>
<hr/>

<div>
  <label id="starting_up"></label>
  <h3>Starting up with TLB:</h3>
  <div class="scope section">
    We maintain a project(called {% include sample_projects_link %} ) that has example setup(s), written for different frameworks and build-tools in corresponding languages to demonstrate how TLB can be hooked up with your test suite.
    <p class="clob_end"/>
    The <i>sample projects</i> repository has one directory per build-tool/testing-tool scenario. For instance, there is a directory named <i>ant_junit</i> which demonstrates [Ant(build tool) + JUnit(testing framework) + TLB] setup and <i>test-unit_example</i> which demonstrates [Rake(build tool) + Test::Unit(testing framework) + TLB] setup.
    <p class="clob_end"/>
    {% include documentation_config_vars_link %} explains TLB configuration. Once you have a rough picture of what variables TLB expects and uses, and the possible values, you can start tweaking corresponding values the <i>sample project</i>  of your interest, and observe how it affects behaviour.
  </div>
</div>
<hr/>

<div>
  <h3>Configuration Variables:</h3>
  <div class="scope section">
    TLB exposes all of its configuration parameters (knobs to tweek its behaviour) through environment variables. 
    <p class="clob_end"/>
    This means, all it takes to tweak a config parameter is setting an environment variable before you start the build(which uses tlb) or tlb-server. This helps decouple TLB from its environment. Since environment variables set for parent process are visible to child processes as well, its possible to say, configure half of these variables in your shell-initialization and set the other half just before executing tests.
    <p class="clob_end"/>
    Check {% include config_link %} page for detailed documentation on all environment variables TLB uses.
  </div>
</div>
<hr/>
