---
layout: default
title: Documentation
keywords: tlb, test-load-balancer, documentation, configuration, help
description: Documentation/Help/Starting-up page of 'Test Load Balancer(TLB)' project(s).
---

<hr/>
<div class="message notice">
  This documentation covers core concepts and all the configuration options of TLB. It also covers getting started with TLB in detail. If you have any feedback about the tool itself or documentation or if you find something not explained well enough, please report an issue (here: {% include issue_tracker_link %}
) and we will make sure its addressed.
</div>

<div class="warn notice">
  This documentation is kept up-to-date with the source. Which means, as features are added or changed, the regular documentation pages will be modified, even if the feature/change has not been released or tagged yet. Please refer to version specific documentation to ensure you see details of only whats shipped in the version you are using.
  If you find any discripancies, please report the same(here: {% include issue_tracker_link %}
).
</div>

<div>
  
</div>
<hr/>
