---
layout: default
title: Quick start TLB
keywords: tlb, test-load-balancer, how to use, usage examples, snippets, tlb examples
description: Example snippets demonstrating how to tlb-enable your project
js: hookup_collapsible_pane();
---
<h3>Quick Start</h3>
<div class="scope section">
<h4>Introduction</h4>
  <p>Test load balancer has 2 main components:
    <ul>
      <li>Server: This stores historical information about tests</li>
      <li>Balancer: This uses this information in order to split the tests into smaller subsets and handed over to the test runner</li>
  </ul></p>
  <p>TLB comes into picture when the same build is scheduled and ran across multiple processes or machines. The idea is that the subsets returned by TLB is executed in parallel so that the build time is reduced. It is TLB's job to make sure each subset takes about the same time to execute.</p>

  <p><strong>NOTE:</strong> TLB knows how to split the given set of tests into smaller subsets. It has nothing to do with actually running the tests, scheduling them, parallelizing them across machines, VM management etc. All of that would be taken care of, typically, by a CI/build server like Hudson, Go, TeamCity, Bamboo etc. </p>

<h4>Dependencies</h4>
  <p>TLB is mainly written in Java. Even though a given framework support may be implemented in the appropriate language, TLB itself is written in Java. Hence you would need to have JRE available on any machine on which you want to run TLB.</p>

<h4>Basic Setup</h4>
  <p>With these basic ideas, here are the steps that you need to follow to setup TLB on your project</p>
  <p class="clob_end"/>
  <ol>
    <li>Make sure JRE 1.6 is installed</li>
    <li><strong>Download</strong> TLB from our <a href="http://code.google.com/p/tlb/downloads/list" target="blank">Download page</a> on Google code. 
      <div class="snippet">
	If you want to use tlb_rb, you can install TLB as a gem using:
	<code class="block">$ gem install tlb</code>
      </div>
</li>
    <li><strong>Start</strong> the TLB <strong>Server</strong> using the server.sh or server.bat script present in the TLB distribution. Something like:
      <div class="snippet">
	<code class="block">$ ${TLB_FOLDER}/server.sh start</code>
      </div>
      <p>This will start a very lightweight RESTlet server bound to port {% include default_server_port %} by default. The script has some basic environment variables that you can tweak if you need to.</p>
      <p>If you wish to use the {% include go_link %} support instead, please go through the {% include startup_server_link %} documentation to see how it can be done.</p>
    </li>
    <li>Now that the server is started, you need to <strong>add Balancing</strong> to your build script.
</p>As mentioned before, typically, Balancer gets a list of all the tests that need to be executed from the build script. It then prunes it to make a subset using the test information obtained from the Server. This smaller subset is what is given to the test framework to run. Balancer then listens to events published by the test framework to get the time each test took and the result of each test. This is then sent across to the TLB server for future use.</p>

<p><strong>Examples of TLB balancer configuration on supported frameworks</strong></p>
Copy the build task into your build script based on what platform/framework you are using. Make changes as suggested in the comments.
	<div class="collapsibleContainer" title="Junit on Ant">
	    <!--TLB-DOC-START@junit-ant-task@-->
<pre>
&lt;!-- Change the 'load.balanced.classpath' so that it is your test classpath along with the TLB jar and
its dependencies. You can also tweak the 'depends' to fix the task dependencies of your build.
You can change the fileset's includes pattern to include your tests. --&gt;
&lt;target name="test.balanced" depends="compile, compile-tests"&gt;
    &lt;typedef name="load-balanced-fileset" classname="tlb.ant.LoadBalancedFileSet"
             classpathref="load.balanced.classpath"/&gt;
    &lt;junit failureproperty="test.failure" printsummary="yes" haltonfailure="true" haltonerror="true"
           showoutput="true" fork="true"&gt;
        &lt;classpath refid="load.balanced.classpath"/&gt;
        &lt;batchtest todir="${reports.dir}"&gt;
            &lt;load-balanced-fileset dir="${test-classes.dir}" includes="**/*Test.class"/&gt;
            &lt;formatter classname="tlb.ant.JunitDataRecorder"/&gt;
            &lt;formatter type="plain"/&gt;
        &lt;/batchtest&gt;
    &lt;/junit&gt;
&lt;/target&gt;
</pre>
	    <!--TLB-DOC-END@junit-ant-task@-->
	</div>
<div class="collapsibleContainer" title="Test::Unit on Rake">
  <!--TLB-DOC-START@test::unit-rake-task@-->
<pre>
require 'rake'
require 'rubygems'
gem 'tlb-testunit'
require 'tlb'
require 'tlb/test_unit/test_task'

Tlb::TestUnit::TestTask.new(:test_balanced) do |t|
  t.libs &lt;&lt; "test"
  t.test_files = FileList['test/**/*_test.rb']
  t.verbose = true
end

load 'tasks/tlb.rake'

task :bal =&gt; ['tlb:start', :test_balanced]
</pre>
  <!--TLB-DOC-END@test::unit-rake-task@-->
</div>
        <div class="collapsibleContainer" title="RSpec 1.x on Rake">
	    <!--TLB-DOC-START@rspec1-rake-task@-->
<pre>
#Use the task :bal to run balanced test suite. You can change the FileSet to match whatever tests you need
#to run.
require 'rubygems'
gem 'tlb-rspec1'
require 'tlb'
require File.join('tlb/spec_task')

Tlb::SpecTask.new(:balanced_specs) do |t|
  t.spec_files = FileList['spec/**/*_spec.rb']
  t.spec_opts &lt;&lt; "--format progress"
end

load 'tasks/tlb.rake'
desc "run specs load-balanced(based on environment variables)"
task :bal =&gt; ['tlb:start', :balanced_specs]
</pre>
	    <!--TLB-DOC-END@rspec1-rake-task@-->
	</div>
	<div class="collapsibleContainer" title="RSpec 2.x on Rake">
	    <!--TLB-DOC-START@rspec2-rake-task@-->
<pre>
#Use the task :bal to run balanced test suite. You can change the t.pattern to match whatever tests you need
#to run.
require 'rubygems'
gem 'tlb-rspec2'
require 'tlb'
require 'tlb/rspec/spec_task'

Tlb::RSpec::SpecTask.new(:run_balanced) do |t|
  t.pattern = 'spec/**/*_spec.rb'
end

load 'tasks/tlb.rake'
desc "run specs load-balanced(based on environment variables)"
task :bal =&gt; ['tlb:start', :run_balanced]
</pre>
	    <!--TLB-DOC-END@rspec2-rake-task@-->
</div>
    </li>
    <li>Use the "run_*" script present in the TLB distribution that is appropriate for your tool/platform. 
      That starts runs the above task with all the environment variables set with the right defaults. You can refer to {% include config_link %} for 
      a list of all the variables that you can configure and tweak in TLB.
    </li>
    <li>Sit back and relax as your build time starts going down! :)</li>
  </ol>
</div>
