body { margin: 1em 0; }
#site-menu { padding-left: 0; }

#site-menu li { 
     display: inline;
}

.clob_end { 
     margin: 1em 0 0 0;
}

li { 
     margin-bottom: .5em;
}

.float_left {
     display: block;
     float: left;
}

.float_right {
     display: block;
     float: right;
}

.center-468 { 
     margin: 0 200px;
}

.with_desc h5 { 
     margin-bottom: 0;
}

.with_desc .heading_desc { 
     margin-bottom: 1.5em;
     font-size: .8em;
     display: block;
}

div.notice { 
     padding: 1em 2em;
    -moz-border-radius: 1.5em;
    -webkit-border-radius: 1.5em;
    border-radius: 1.5em;
    font-style: italics;
}

.notice.message { 
     background-color: #ddffcc;
     border: 1px solid #3ccd00;
}

.notice.warn { 
     background-color: #fff0b8;
     border: 1px solid #f0bf02;
}

.notice.error { 
     background-color: #fde2e7;
     border: 1px solid #fc3460;
}

.notice a { 
     color: #0067b1;
}

.notice a { 
     color: #0067b1;
}

.menu li {
     margin: 0 .5em;
}

h4 { 
     font-weight: bold;
}

.scope.section {
     border-left: 1px dotted #999;
     margin-left: 4px;
     padding-left: 8px;
}

ul.without_dots li {
     list-style: none;
}

.block { 
     display: block;
}

.hidden { 
     display: none;
}

.popup.ui-widget-content.ui-dialog-content { 
     background-color: #fff;
}

hr { 
     margin: 1.45em 0px 1.45em 0px;
}

table.with_row_deviders tr td {
     border-bottom: 1px dotted #000;
}

.tiny_font { 
     font-size: 8pt;
}

.margin { 
     margin: .5em;
}

div.column { 
     width: 49%;
     float: left;
}

.team_member {
     float: left;
}